#result {
 background-color: black;
 color: whitesmoke;
 border-radius: 10px;
 border: 4px groove rgba(234, 234, 234, 0.884);
 text-align: right;
 vertical-align: middle;
  padding: 12px 10px;
 height: 50px;
 margin: 10px 0 20px 0;
}

.calculator {
    display: flex;
    flex-direction: column; 
    background-color: rgba(234, 234, 234, 0.884);
    border-radius: 10px;
    border-width: 5px;
    border: 5px groove rgba(234, 234, 234, 0.884);
    height: 250px;
    width: 200px;
    padding: 20px;
    
}

button {
    margin: 1px;
    width: 22%;
    height: 30px;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgba(234, 234, 234, 0.884);
    color:rgb(66, 66, 66);
    background-color:  rgb(217, 202, 202);
    ;

}

button:nth-child(4) {
    color: whitesmoke;
    background-color: rgb(46, 94, 156);
}

button:nth-child(9) {
    color: whitesmoke;
    background-color: rgb(46, 94, 156);
}

button:nth-child(14) {
    color: whitesmoke;
    background-color: rgb(46, 94, 156);
}

button:nth-child(19) {
    color: whitesmoke;
    background-color: rgb(46, 94, 156);
}



button:nth-child(21) {
    width: 47%;
    color: whitesmoke;
    background-color: rgb(156, 46, 46);
}

button:nth-child(22) {
    width: 47%;
    color: whitesmoke;
    background-color: rgb(156, 46, 46);
}